---
import { storyblokEditable, renderRichText } from '@storyblok/astro'
const { blok } = Astro.props
const content = renderRichText(blok.content)
---

<article {...storyblokEditable(blok)}>
  <h1>{blok.title}</h1>
  <p>{blok.description}</p>
  <img
      class="w-full h-[360px] lg:h- [450px] object-cover"
      src={`${blok.image.filename}/m/1600x0`}
   />
  <Fragment set:html={content} /> 
</article>