<section id="about" class="pt-20 lg:pt-[120px] pb-20 lg:pb-[120px]">
  <div class="container py-16 mx-auto p-4">
    <!-- <div class="wow fadeInUp  " data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s;"> -->
    <div class="flex flex-wrap">
      <div class="w-full sm:px-4">
        <div
          class="lg:flex
                items-center
                justify-between
                overflow-hidden rounded-2xl dark:bg-blue-900 bg-blue-300"
        >
          <div
            class="lg:max-w-[565px]
                  xl:max-w-[640px]
                  w-full
                  py-12
                  px-7
                  sm:px-12
                  md:p-16
                  lg:py-9 lg:px-16
                  xl:p-[70px]"
          >
            <h2
              class="font-extrabold
                    text-3xl
                    sm:text-4xl
                    2xl:text-[40px]
                    sm:leading-snug text-blue-800 dark:text-white capitalize
                    mb-6"
            >
              A little bit about me
            </h2>

            <p
              class="mb-3 text-black dark:text-gray-200 first-line:uppercase first-line:tracking-widest first-letter:text-7xl first-letter:font-bold first-letter:text-gray-900 dark:first-letter:text-gray-100 first-letter:mr-3 first-letter:float-left"
            >
            I'm a NAIT graduate based in Edmonton, Alberta, with a background that evolved from five years of self-taught freelancing to specializing in web development and design. My focus is on crafting custom, modern and user-friendly websites for small to medium-sized businesses, e-commerce, and personal portfolios.
            </p>

            <a
              href="about.html"
              class="inline-flex
                    items-center
                    justify-center
                    py-4
                    px-6
                    rounded-lg
                    med:rounded
                    text-white
                    bg-blue-800
                    dark:bg-red-700
                    dark:hover:bg-green-800
                    text-base
                    font-medium
                    hover:bg-opacity-50 hover:shadow-lg
                    transition
                    duration-300
                    ease-in-out"
            >
              Read More About Me
            </a>
          </div>

          <div class="text-center container">
            <div class="relative inline-block z-10">
              <img
                src="https://ik.imagekit.io/boxhuwbys/jeff.webp?updatedAt=1711694070119"
                alt="Jeffrey Agyepong"
                class="w-32 md:w-32 lg:w-48 mx-auto transition-all duration-300 rounded-lg cursor-pointer filter grayscale hover:grayscale-0"
              />
              <p class="text-black dark:text-gray-200 p-1">Jeffrey A.</p>
              <p class="text-black dark:text-gray-200 p-1">Web Developer, Web Designer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
