---
import Image from 'astro/components/Image.astro';
import Clutch from '~/assets/images/top_clutch.co_web_design_company_freelance_edmonton_jawebdesign.png';
---

<section class="p-8 dark:bg-blue-900">
  <h2
    class="font-bold leading-tighter tracking-tighter font-heading text-heading text-3xl md:text-4xl text-center mb-4"
  >
    Awards
  </h2>
  <div class="overflow-x-auto grid grid-flow-col auto-cols-max gap-4">
    <!-- dark:hover:bg-dark-blue -->
    <div class="group rounded px-8 py-8 shadow ">
      <div class="mx-auto text-center">
        <a href="https://clutch.co/profile/ja-web-design" target="_blank">
          <Image
            src={Clutch}
            alt="J.A Web Design - Top Web Design Company - Freelance Edmonton"
            width={250}
            height={280}
             class="h-auto max-w-full mx-auto"
          />
        </a>
      </div>
    </div>
    <div class="group rounded px-8 py-8 shadow ">
      <div class="mx-auto text-center">
        <a href="http://upcity.com/ca/web-design/edmonton" target="_blank">
          <img
            width={250}
            height={280}
             class="h-auto max-w-full mx-auto"
            src="https://upcity-marketplace.s3.amazonaws.com/badge/159/basic_full_color/2e05d2b13e9e2c5f0dc9bb7292a80844.png"
            alt="TOP WEB DESIGNER"
          /></a
        >
      </div>
    </div>
    <div class="group rounded px-8 py-8 shadow ">
      <div class="mx-auto text-center">
        <a href="https://upcity.com/best-of#year=2023&type=Best%20of%20region&region=Alberta&spotlight=profiles/j-a-web-design/edmonton" target="_blank"
          ><img
            src="https://upcity-marketplace.s3.amazonaws.com/excellenceaward/510/best_of_full_color/e842ba8bdbdbb860e6cf6ca42696379a.png"
            alt="UpCity Best of 2023 Awards"
            width={250}
            height={280}
             class="h-auto max-w-full mx-auto"
          /></a
        >
      </div>
    </div>
    <div class="group rounded px-8 py-8 shadow ">
      <div class="mx-auto text-center">
        <a href="https://www.hostingadvice.com/blog/10-best-freelance-web-designers-in-2024/" target="_blank"
          ><img
          src="https://ik.imagekit.io/boxhuwbys/freelance-web-1.png?updatedAt=1711782526058"
          width={250}
          height={250}
           class="h-auto max-w-full mx-auto"
          alt="J.A Web Design featured on Hostingadvice.com"
        /></a
        >
      </div>
    </div>
  </div>
</section>

