<section class="dark:bg-blue-800 bg-blue-300 p-8">
  <div class="container md:flex mx-auto justify-center gap-8 items-center">
    <div class="flex justify-center items-center pb-4">
      <a href="https://www.hostingadvice.com/blog/10-best-freelance-web-designers-in-2024/" target="_blank">
        <img
          src="https://ik.imagekit.io/boxhuwbys/freelance-web-1.png?updatedAt=1711782526058"
          width="250px"
          height="250px"
          alt="J.A Web Design featured on Hostingadvice.com"
        />
      </a>
    </div>
    <div class="flex justify-center items-center pb-4">
      <iframe
        width="250"
        height="250"
        src="https://shareables.clutch.co/share/badges/2147063/953?utm_source=clutch_top_company_badge&utm_medium=image_embed"
        title="Top Clutch Web Developers Freelance Edmonton"></iframe>
    </div>
    <div class="flex justify-center items-center pb-4">
      <a href="https://upcity.com/profiles/j-a-web-design/edmonton" target="_blank">
        <img
          src="https://upcity-marketplace.s3.amazonaws.com/badge/159/basic_full_color/2e05d2b13e9e2c5f0dc9bb7292a80844.png"
          width="250px"
          height="250px"
          alt="TOP WEB DESIGNER"
        />
      </a>
    </div>
    <div class="flex justify-center items-center pb-4">
      <a href="https://www.clevercanadian.ca/top-web-design-services-edmonton/" target="_blank">
        <img
          src="https://ik.imagekit.io/boxhuwbys/clevercanadian.webp?updatedAt=1711782424538"
          width="250px"
          height="250px"
          class="bg-white rounded-3xl shadow-lg"
          alt="TOP WEB DESIGNER"
        />
      </a>
    </div>
    <a
      href="https://upcity.com/best-of#year=2023&type=Best%20of%20region&region=Alberta&spotlight=profiles/j-a-web-design/edmonton"
      ><img
        src="https://upcity-marketplace.s3.amazonaws.com/excellenceaward/510/best_of_full_color/e842ba8bdbdbb860e6cf6ca42696379a.png"
        width="300px"
        height="300px"
      /></a
    >
  </div>
</section>
