<section class="pt-20 lg:pt-[80px] pb-10 lg:pb-[20px] dark:text-white">
  <div class="container mx-auto">
    <div class="container mx-auto py-5 md:py-10 md:mt-10">
      <div class="w-full mx-auto">
        <div
          class="leading-loose max-w-xl m-4 p-7 bg-blue-900 dark:bg-dark-blue rounded-xl shadow-xl text-left mx-auto"
        >
          <p class="font-general-medium text-primary-dark dark:text-primary-light text-2xl mb-8">
            Let's talk about your project
          </p>
          <form
            class="font-general-regular space-y-7 mx-auto"
            method="POST"
            data-netlify="true"
            data-netlify-recaptcha="true"
            netlify
          >
            <div>
              <label class="block mb-2 text-lg text-primary-dark dark:text-primary-light" for="name">Name</label>
              <input
                class="w-full px-5 py-3 border border-gray-300 dark:border-primary-dark border-opacity-50 text-black rounded-md shadow-sm text-md"
                id="name"
                name="name"
                placeholder="Name"
                aria-label="name"
                type="text"
                required
              />
            </div>
            <div>
              <label class="block mb-2 text-lg text-primary-dark dark:text-primary-light" for="email">Email</label>
              <input
                class="w-full px-5 py-3 border border-gray-300 dark:border-primary-dark border-opacity-50 text-black rounded-md shadow-sm text-md"
                id="email"
                name="email"
                placeholder="Email"
                aria-label="email"
                type="email"
                required
              />
            </div>
            <!-- <div>
              <label class="block mb-2 text-lg text-primary-dark dark:text-primary-light" for="subject">Subject</label>
              <input
                class="w-full px-5 py-3 border border-gray-300 dark:border-primary-dark border-opacity-50 text-black rounded-md shadow-sm text-md"
                id="subject"
                name="subject"
                placeholder="Subject"
                aria-label="subject"
                type="text"
                required
              />
            </div> -->
            <div>
              <label class="block mb-2 text-lg text-primary-dark dark:text-primary-light" for="subject">Website</label>
              <input
                class="w-full px-5 py-3 border border-gray-300 dark:border-primary-dark border-opacity-50 text-black rounded-md shadow-sm text-md"
                id="website"
                name="website"
                placeholder="Your existing website or project URL"
                aria-label="website"
                type="url"
                required
              />
            </div>
            <div>
              <label class="block text-lg text-primary-dark dark:text-primary-light mb-2" for="message">How can we help you?</label>
              <textarea
                class="w-full px-5 py-2 border border-gray-300 dark:border-primary-dark border-opacity-50 text-black rounded-md shadow-sm text-md"
                id="message"
                name="message"
                aria-label="message"
                placeholder="More details that will help us understand your project better."
                cols="14"
                rows="6"></textarea>
            </div>
            <div data-netlify-recaptcha="true"></div>
            <div>
              <button
                class="px-4 py-2.5 text-white tracking-wider bg-indigo-500 hover:bg-indigo-600 focus:ring-1 focus:ring-indigo-900 rounded-lg duration-500"
                type="submit"
                aria-label="Send Message"
              >
                Send Message
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
