---
import skillsData from '../api/skills.json';
---

<astro:fragment>
  <section>
    <div class="container py-16 md:py-20 lg:px-8 px-4 mx-auto">
      <h2
        class="font-bold leading-tighter tracking-tighter font-heading text-heading text-3xl md:text-4xl text-center mb-4"
      >
        Skills
      </h2>
      <h3 class="text-center text-lg md:text-xl text-gray-700 dark:text-gray-300 mb-8">
        These are the main tools that I use
      </h3>
      <div class="grid grid-cols-1 gap-6 pt-10 sm:grid-cols-3 md:gap-10 md:pt-12 xl:grid-cols-3">
        {
          skillsData.skills.map((skill) => (
            <div class="group rounded-2xl px-8 py-8 shadow  bg-blue-200 dark:bg-header-dark-blue">
              <div class="mx-auto h-24 w-24 text-center xl:h-28 xl:w-28">
                <div class="">
                  <img src={skill.icon} alt={`${skill.name} icon`} class="h-auto max-w-full" />
                </div>
              </div>
              <div class="text-center">
                <h3 class="pt-5 text-lg font-semibold uppercase text-black lg:text-xl">{skill.name}</h3>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>
</astro:fragment>
