---
import Badges from '~/components/widgets/Badges.astro';
import Hero from '~/components/widgets/Hero.astro';
import Steps from '~/components/widgets/Steps.astro';
import Layout from '~/layouts/PageLayout.astro';
import Skills from '~/components/widgets/Skills.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      About Us <br />
      <span class="text-accent dark:text-white highlight"> </span>
    </Fragment>
  </Hero>

  <!-- Steps2 Widget ****************** -->

  <Steps
    title="A little bit about me"
    items={[
      {
        title: '',
        description:
          'As a self-taught freelancer turned NAIT student based in Edmonton, Alberta, with five years of experience, I am a passionate web developer and designer with a keen eye for quality and customer satisfaction. My experience includes developing modern, user-friendly websites for small businesses, e-commerce stores, and personal portfolios.',
      },
    ]}
    image={{
      src: 'https://ik.imagekit.io/boxhuwbys/jeff.webp?updatedAt=1711694070119',
      alt: 'Jeffrey Agyepong',
    }}
  />

  <Badges />

  <Skills />
  
</Layout>
