---
import Badges from '~/components/widgets/Badges.astro';
import Steps from '~/components/widgets/Steps.astro';
import Layout from '~/layouts/PageLayout.astro';
import Skills from '~/components/widgets/Skills.astro';

import { AstroSeo } from '@astrolib/seo';

const metadata = {
  title: 'About Us',
};
---

<AstroSeo
  title={metadata.title}
  description="Get to know the face behind J.A Web Design - a self-taught freelancer turned NAIT student with a passion for crafting modern, user-friendly websites. With five years of experience in web development and design, I specialize in creating fully responsive websites using the latest technologies. From small businesses to personal portfolios, I am committed to delivering high-quality work that exceeds client expectations."
/>
<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <section
    class="mt-16 bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern.svg')] min-h-fit dark:bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern-dark.svg')]"
  >
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 z-10 relative">
      <h2
        class="max-w-24ch mb-4 text-4xl font-bold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white text-left capitalize"
      >
        About
      </h2>
    </div>
    <div
      class="bg-gradient-to-b from-blue-50 to-transparent dark:from-blue-900 w-full h-full absolute top-0 left-0 z-0"
    >
    </div>
  </section>

  <!-- Steps2 Widget ****************** -->

  <Steps
    title="A little bit about me"
    items={[
      {
        title: '',
        description:
          "As a NAIT graduate based in Edmonton, Alberta, I've transitioned from being a self-taught freelancer with five years of experience to a passionate web developer and designer. My focus is on creating modern, user-friendly websites for small businesses, e-commerce stores, and personal portfolios. I specialize in responsive designs that are optimized for performance and search engine rankings, using HTML, CSS, JavaScript, Vue.js, PHP, and CMS platforms like WordPress. My commitment to timely delivery and exceeding client expectations ensures high-quality work and customer satisfaction.",
      },
    ]}
    image={{
      src: 'https://ik.imagekit.io/boxhuwbys/ja-web-design.webp?updatedAt=1716059668256',
      alt: 'Jeffrey Agyepong',
    }}
  />

  <Badges />

  <Skills />
</Layout>
