---
import Badges from '~/components/widgets/Badges.astro';
import Hero from '~/components/widgets/Hero.astro';
import Steps from '~/components/widgets/Steps.astro';
import Layout from '~/layouts/PageLayout.astro';
import Skills from '~/components/widgets/Skills.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <section
    class="mt-16 bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern.svg')] min-h-fit dark:bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern-dark.svg')]"
  >
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 z-10 relative">
      <h2
        class="max-w-24ch mb-4 text-4xl font-bold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white text-left capitalize"
      >
        About
      </h2>
    </div>
    <div
      class="bg-gradient-to-b from-blue-50 to-transparent dark:from-blue-900 w-full h-full absolute top-0 left-0 z-0"
    >
    </div>
  </section>

  <!-- Steps2 Widget ****************** -->

  <Steps
    title="A little bit about me"
    items={[
      {
        title: '',
        description:
          'As a self-taught freelancer turned NAIT student based in Edmonton, Alberta, with five years of experience, I am a passionate web developer and designer with a keen eye for quality and customer satisfaction. My experience includes developing modern, user-friendly websites for small businesses, e-commerce stores, and personal portfolios.',
      },
    ]}
    image={{
      src: 'https://ik.imagekit.io/boxhuwbys/jeff.webp?updatedAt=1711694070119',
      alt: 'Jeffrey Agyepong',
    }}
  />

  <Badges />

  <Skills />
</Layout>
