---
import { AstroSeo } from '@astrolib/seo';
import Image from 'astro/components/Image.astro';
import Layout from '~/layouts/PageLayout.astro';
// import Picture from 'astro/components/Picture.astro';

export const prerender = false;
import { sanityClient } from 'sanity:client';
const posts = await sanityClient.fetch(`*[_type == "post" && defined(slug)]`);
const metadata = {
  title: 'Blog | J.A Web Design',
};
---

<AstroSeo title={metadata.title} description="" />
<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <section
    class="mt-16 bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern.svg')] min-h-fit dark:bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern-dark.svg')]"
  >
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 z-10 relative">
      <h2
        class="max-w-24ch mb-4 text-4xl font-bold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white text-left capitalize"
      >
        Blog
      </h2>
    </div>
  </section>

  <!-- Blog Content ******************* -->
  <div class="max-w-7xl z-50 mt-24 px-4">
    <div class="grid md:grid-cols-3 gap-4">
      {
        posts.map((post, index) => (
          <div key={index} class="bg-slate-700 shadow-md rounded-lg p-4 mb-4 block max-w-sm">
            <h3 class="font-bold text-xl dark:text-slate-300 font-heading leading-tight mb-2 sm:text-2xl">
              <a href={'/posts/' + post.slug.current} class="transition duration-200 dark:hover:text-blue-400 ease-in hover:text-primary inline-block">
              {post.title}
            </a>
            </h3>
          </div>
        ))
      }
    </div>
  </div>
</Layout>
