---
import { storyblokEditable, useStoryblokApi } from '@storyblok/astro';
import BlogCard from '../components/blog/BlogCard.astro';

import Layout from '../layouts/PageLayout.astro';

const { blok } = Astro.props;

const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get(`cdn/stories/`, {
  version: 'published', // or 'published'
  starts_with: 'blog/',
  content_type: 'blogPost',
  is_startpage: 0,
});

const articles = data.stories;
// const title="Blog"
---

<Layout>
  <section class="mx-6 my-12 w-11/12 lg:w-3/4 mx-auto" {...storyblokEditable(blok)}>
    <div class="flex flex-row justify-center items-center space-x-3">
      <h2 class="text-6xl font-bold text-center mb-12">Blog</h2>
    </div>
    <ul class="grid grid-cols-1 gap-6 md:grid-cols-1">
      {
        articles?.length &&
          articles.map((article) => {
            article.content.slug = article.slug;
            return (
              <li>
                <BlogCard article={article.content} tags={article.tag_list} link={article.full_slug} />
              </li>
            );
          })
      }
    </ul>
  </section>
</Layout>
