---
import Layout from '~/layouts/PageLayout.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';

import { AstroSeo } from '@astrolib/seo';

const metadata = {
  title: 'Contact Us',
};
---

<AstroSeo
  title={metadata.title}
  description="Contact J.A Web Design for professional and affordable web design services. Let's collaborate and create a stunning website that represents your brand. Get in touch with us today!"
/>

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <section
    class="mt-16 bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern.svg')] min-h-fit dark:bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern-dark.svg')]"
  >
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 z-10 relative">
      <h2
        class="max-w-24ch mb-4 text-4xl font-bold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white text-left capitalize"
      >
        Contact
      </h2>
    </div>
    <div class="bg-gradient-to-b from-blue-50 to-transparent dark:from-blue-900 w-full absolute top-0 left-0 z-0"></div>
  </section>

  <ContactUs />

  <Features2
    title="We are here to help!"
    items={[
      {
        title: 'Phone',
        description: '+1 780-983-7309',
        icon: 'tabler:headset',
      },
      {
        title: 'Email',
        description: 'hello@jawebdesign.ca',
        icon: 'tabler:mail',
      },
      {
        title: 'Location',
        description: 'Edmonton, Alberta',
        icon: 'tabler:map-pin',
      },
    ]}
  />
</Layout>
