---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
// import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'J.A Web Design | Edmonton Web Design & Development',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[{ text: 'Learn more', href: '#features' }]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      <h2
        class="max-w-24ch mb-4 text-4xl font-bold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white text-left capitalize"
      >
        User-Friendly <span class="dark:text-blue-300 text-blue-800 font-extrabold"> Web Development</span> and
        <br /><span class="dark:text-blue-300 text-blue-800 font-extrabold"> Design</span>
      </h2>
    </Fragment>

    <Fragment slot="subtitle">
      <p class="mb-8 text-lg font-normal text-gray-900 lg:text-xl dark:text-gray-200 text-left">
        Crafting custom websites that prioritize user needs
      </p>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Services"
    subtitle="These are the services we offer "
    tagline=""
    items={[
      {
        title: 'All India Restaurant',
        description: 'WordPress, Genesis Framework',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Valencia Prep Academy',
        description: 'WordPress, Elementor',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'J.A Web Design',
        description: 'Astrojs, Tailwind CSS, Cloudfare Pages',
        icon: 'flat-color-icons:approval',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Steps Widget ****************** -->

  <Steps
    title="A little bit about me"
    items={[
      {
        title: '',
        description:
          'As a self-taught freelancer turned NAIT student based in Edmonton, Alberta, with five years of experience, I am a passionate web developer and designer with a keen eye for quality and customer satisfaction. My experience includes developing modern, user-friendly websites for small businesses, e-commerce stores, and personal portfolios.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Services"
    subtitle="These are the services we offer "
    tagline=""
    items={[
      {
        title: 'Web Development ',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Web Design',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Website Maintenance ',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Seo',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Graphic Design ',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Social Media Marketing',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Testimonials"
    ,
    testimonials={[
      {
        testimonial: `Jeffrey just completed a website for my alumni organization. It is so professionally done with a touch of appeal and a great look. Jeffrey designed the website through good communication and follow-up and provided the site as required and expected. It is a website designed to adjust to mobile devices. Jeffrey is also providing training and support with the capacity to do updates and other support systems when needed and takes prompt action on issues when needed.`,
        name: 'Michael Appiah-Boateng',
        job: 'Accountant',
        image: {
          src: '',
          alt: 'Michael Appiah-Boateng Image',
        },
      },
      {
        testimonial: `J.A Web Design delivered the project on time and provided reliable, timely technical support after. The responsive team strictly adhered to the established timeline and budget and was quick to implement feedback throughout.`,
        name: 'Darcy Hodge',
        job: 'Genetal Manager',
        image: {
          src: '',
          alt: 'Darcy Hodge Image',
        },
      },
      {
        testimonial: `Jeffrey is such a wonderful person and a very knowledgeable web designer! He taught me how to use the different web design platforms and what to watch out for. I highly recommend him thanks Jeffrey!`,
        name: 'Kareena Virdi',
        job: 'Social Media Consultant',
        image: {
          src: '',
          alt: 'Kareena Virdi Image',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'More testimonials...',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:chevron-right',
    }}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contact Us',
        href: '#',
        target: '_blank',
      },
    ]}
  >
    <Fragment slot="title"> Have any questions? </Fragment>
  </CallToAction>
</Layout>
