---
import Layout from '~/layouts/PageLayoutKastle.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Hero from '~/components/widgets/Hero.astro';
import About from '../components/widgets/AboutKastle.astro';
import Projects from '../components/widgets/Projects.astro';

const metadata = {
  title: 'J.A Web Design | Edmonton Web Design & Development Company',
  description:
    'J.A Web Design is an award-winning web design company in Edmonton, Alberta, specializing in custom web development and design.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <div class="flex justify-center items-center mt-8 w-fit mx-auto">
    <a href="https://www.kastlemedia.ca/" class="flex justify-center items-center">
      <img src="https://ik.imagekit.io/boxhuwbys/cropped-Kastle-Media-Solutions-3-1024x174.png" alt="Kastle Media Solutions - Digital Marketing Agency in Edmonton" class="w-3/4 lg:w-1/2 h-auto bg-slate-100 rounded-md p-2" />
    </a>
  </div>
  <Hero actions={[{ text: 'Let’s Build Your Website', href: 'https://www.kastlemedia.ca/', class: 'bg-red-900' }]}>
    <Fragment slot="title">
      <h2
        class="max-w-22ch mb-4 text-2xl font-bold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-5xl dark:text-white text-left capitalize"
      >
      Frontend Developer Specializing in
        <span class="dark:text-blue-300 text-blue-800 font-extrabold">Custom Websites</span><br />
      </h2>
    </Fragment>

    <Fragment slot="subtitle">
      <p class="mb-8 text-lg font-bold text-gray-900 lg:text-xl dark:text-gray-200 text-left">
     Currently Building Websites with <a href="https://www.kastlemedia.ca/" class="text-red-400"
          >Kastle Media Solutions</a
        >.
      </p>
    </Fragment>
  </Hero>
  <About />
  <Projects />
  <CallToAction
  actions={[
    {
      variant: 'primary',
      text: 'Get In Touch',
      href: 'mailto:jeff@kastlemedia.ca',
    },
  ]}
>
  <Fragment slot="title"> Start Your Project </Fragment>
</CallToAction>
</Layout>
