---
import Layout from '~/layouts/PageLayout.astro';

import About from '~/components/widgets/About.astro';
import Badges from '~/components/widgets/Badges.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Projects from '~/components/widgets/Projects.astro';
import Slider from '~/components/ui/Slider.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import TrustLogos from '~/components/ui/TrustLogos.astro';

import { getPermalink } from '../utils/permalinks';
import { AstroSeo } from '@astrolib/seo';

const metadata = {
  title: 'J.A Web Design | Edmonton Web Design & Development Company',
  ignoreTitleTemplate: true,
};
---

<AstroSeo
  title={metadata.title}
  description="J.A Web Design is an award-winning web design company in Edmonton, Alberta, specializing in custom web development and design."
/>
<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  
  <Hero actions={[{ text: 'Request A Quote', href: '/contact' }]}>
    <Fragment slot="title">
      <h2
        class="max-w-22ch mb-4 text-4xl font-bold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white text-left capitalize"
      >
        Tailor your <span class="dark:text-blue-300 text-blue-800 font-extrabold">Website</span>
        to captivate interest
      </h2>
    </Fragment>

    <Fragment slot="subtitle">
      <p class="mb-8 text-lg font-bold text-gray-900 lg:text-xl dark:text-gray-200 text-left">
        We provide custom, high-performance websites designed to grow your business. Our websites are optimized to get found and keep visitors engaged, giving your business the power to turn viewers into clients
      </p>
    </Fragment>
  </Hero>

  <Badges/>

  <!-- Slider -->
  <Slider />

  <!-- Projects Widget ************** -->
  <Projects />

  <div class="mt-8">
    <TrustLogos />
  </div>

  <!-- About Us Widget ****************** -->

  <About />

  <!-- Services Widget ************** -->

  <div class="container-lg">
    <Features3
    title="Services"
    subtitle="Your experience matters. Throughout the process we focus on clear, forthright communication, and timely delivery. Together we'll create a powerful online presence that will grow your business now and into the future. "
    tagline=""
    items={[
      {
        title: 'Web Development ',
        description:
          'Custom coding and programming without limitations. Single landing pages to full on e-commerce websites.',
        image: 'https://ik.imagekit.io/boxhuwbys/backend.png?updatedAt=1722065229172',
      },
      {
        title: 'Web Design',
        description:
          "Through proper strategy and research your website can communicate effectively with potential clients. A branded experience will help your business stand out among its competitors.",
        image: 'https://ik.imagekit.io/boxhuwbys/responsive-design.png?updatedAt=1722064019152',
      },
      {
        title: 'Website Maintenance & Support',
        description:
          'You will never be alone. Let the experts look after the website so you can focus on what matters. Without stress your website will remain optimized, up-to-date, and secure.s',
        image: 'https://ik.imagekit.io/boxhuwbys/web-maintenance-white.svg?updatedAt=1711779871951',
      },
      {
        title: 'E-commerce Development',
        description:
          'Our e-commerce development services help you establish a robust online store that drives sales and enhances customer engagement.',
        image: 'https://ik.imagekit.io/boxhuwbys/shopping-ja-web-design.png?updatedAt=1722065621055',
      },
      {
        title: 'Graphic Design ',
        description:
          ' Custom graphics will create a coherent brand identity and resonate with your desired clientele.',
        image: 'https://ik.imagekit.io/boxhuwbys/graphic-design-white.svg?updatedAt=1711779871901',
      },
      {
        title: 'SEO',
        description:
          'Your website will be optimized to rank well on google and drive organic traffic.',
        image: 'https://ik.imagekit.io/boxhuwbys/seo-white.svg?updatedAt=1711779871975',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features3>
  </div>

  <!-- Testimonials Widget *********** -->

  <Testimonials
    id="testimonials"
    title="Testimonials"
    testimonials={[
      {
        testimonial: `Easily one of the best young web designers that I have worked with.`,
        name: 'Jessal Parmar',
        job: 'Bussiness Owner',
        image: {
          src: 'https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_1280.png',
          alt: 'Jessal Parmar',
        },
      },

      {
        testimonial: `J.A Web Design delivered the project on time and provided reliable, timely technical support after. The responsive team strictly adhered to the established timeline and budget and was quick to implement feedback throughout.`,
        name: 'Darcy Hodge',
        job: 'General Manager',
        image: {
          src: 'https://ik.imagekit.io/boxhuwbys/darcy.webp?updatedAt=1711693732156',
          alt: 'Darcy Hodge',
        },
      },
      {
        testimonial:
          'Jeffrey is such a wonderful person and a very knowledgeable web designer! He taught me how to use the different web design platforms and what to watch out for. I highly recommend him thanks Jeffrey!',
        name: 'Kareena Virdi',
        job: 'Social Media Consultant',
        image: {
          src: 'https://ik.imagekit.io/boxhuwbys/kreen.webp?updatedAt=1711693732194',
          alt: 'Kareena Virdi',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'More testimonials',
      href: 'https://maps.app.goo.gl/hLyxj8vZL1CU9Y5n7',
      icon: 'tabler:chevron-right',
    }}
  />
  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle=""
    tagline=""
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: ' How do we approach designing a website?',
        description:
          "The process begins with strategy. Our designers explore with you the goals of the website and your target audience. Once content is created and finalized a wire frame is created. The wireframe serves to outline the structure of the website, ensuring usability. Design follows, a visual representation of the website is created, once this set has been finalized with you, the client, it is handed over to our developer who will create a dependable, responsive, secure website. Once launched, ongoing maintenance and support will ensure your business has a website that it can depend upon.",
      },
      {
        title: 'Are our websites mobile-friendly and responsive?',
        description:"Most definitely! Responsiveness is a must in our world. Typically, over 50% of traffic comes from mobile devices. Never would we allow our clients' businesses to lose such a huge piece of their target audience. By using mobile-friendly practices in development we can guarantee a seamless transition between screen sizes.",
      },
      {
        title: 'How long does it take to design a website?',
        description:
          'The length of a project is influenced by factors such as the size and complexity of the site, the needed resources, and our clients availability. Websites such as an e-commerce website may take much longer, perhaps a few weeks, while a single page website could be completed within a week. The length also depends on which of our services a project requires. ',
      },
      {
        title: ' What platforms or tools do we use?',
        description:
          'The web design and development process requires a wide range of tools. Figma is used for the design. While programs such as Vue, Astro, Vite, PHP, Netlify, Cloudflare, and WordPress are used with the base code (HTML, CSS, JavaScript) to create the final functioning website to be posted on the web.',
      },
      {
        title: 'How often should a website be updated?',
        description:
          "The short answer; when needed. Websites with different goals and functionality will require a different amount of attention. All websites should be checked periodically for bugs or security issues. Some websites, for example e-commerce, will require updates frequently. Others may feature fluctuating content in order to  target the right audience. Whatever your website requires, it is our top priority to meet these needs.",
      },
      {
        title: 'Can we help with maintenance/updates after launch?',
        description:
          "Yes, offer ongoing maintenance services so that our client's websites remain functional, bug free, optimized, and up to date. We’ll help with content updates, needed software updates, security patches, and fixing any bugs that may present themselves. We are also happy to help with additions to the website or design enhancement so your website will grow with your business as it evolves.",
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contact Us',
        href: getPermalink('/contact'),
      },
    ]}
  >
    <Fragment slot="title"> Have any questions? </Fragment>
  </CallToAction>
</Layout>
