---
import Layout from '~/layouts/PageLayoutKastle.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Hero from '~/components/widgets/Hero.astro';
import About from '../components/widgets/AboutKastle.astro';
import Projects from '../components/widgets/Projects.astro';

const metadata = {
  title: 'J.A Web Design | Edmonton Web Design & Development Company',
  description:
    'J.A Web Design is an award-winning web design company in Edmonton, Alberta, specializing in custom web development and design.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <div class="flex justify-center items-center mt-8 w-fit mx-auto">
    <a href="https://www.kastlemedia.ca/" class="flex justify-center items-center">
      <img src="https://ik.imagekit.io/boxhuwbys/cropped-Kastle-Media-Solutions-3-1024x174.png" alt="Kastle Media Solutions - Digital Marketing Agency in Edmonton" class="max-w-[300px] h-auto bg-slate-100 rounded-md p-2" />
    </a>
  </div>
  <Hero actions={[{ text: 'Let’s Build Your Website', href: 'https://www.kastlemedia.ca/contact-kastle/', class: 'bg-red-900' }]}>
    <Fragment slot="title">
      <h2
        class="max-w-24ch mb-4 text-2xl font-bold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-5xl dark:text-white text-left capitalize"
      >
      Frontend Developer Specializing in
        <span class="dark:text-blue-300 text-blue-800 font-extrabold">Custom Websites</span><br />
      </h2>
    </Fragment>

    <Fragment slot="subtitle">
      <p class="mb-8 text-lg font-bold text-gray-900 lg:text-xl dark:text-gray-200 text-left">
     Currently Building Websites with <a href="https://www.kastlemedia.ca/" class="text-red-400"
          >Kastle Media Solutions</a
        >.
      </p>
    </Fragment>
  </Hero>
  <About />
  <Projects />
  <CallToAction
  actions={[
    {
      variant: 'primary',
      text: 'Get In Touch',
      href: 'mailto:jeff@kastlemedia.ca',
    },
  ]}
>
  <Fragment slot="title"> Start Your Project </Fragment>
</CallToAction>
<div class="py-12">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <h2 class="text-3xl font-extrabold text-gray-900 dark:text-white text-center mb-8">We are here to help!</h2>
    <div class="flex flex-col md:flex-row justify-center space-y-4 md:space-y-0 md:space-x-4">
      <div class="flex flex-col p-6 bg-white dark:bg-slate-900 rounded-lg shadow-md w-full md:w-1/3">
        <svg width="1em" height="1em" viewBox="0 0 24 24" class="w-12 h-12 mb-6 text-primary" data-icon="tabler:headset" data-astro-source-file="/node_modules/astro-icon/components/Icon.astro" data-astro-source-loc="117:44">  <symbol id="ai:tabler:headset" data-astro-source-file="/node_modules/astro-icon/components/Icon.astro" data-astro-source-loc="124:28"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M4 14v-3a8 8 0 1 1 16 0v3m-2 5c0 1.657-2.686 3-6 3"></path><path d="M4 14a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm11 0a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2z"></path></g></symbol><use xlink:href="#ai:tabler:headset" data-astro-source-file="/node_modules/astro-icon/components/Icon.astro" data-astro-source-loc="125:10"></use>  </svg>
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Phone</h3>
       <p class="text-muted mt-2">
        <a href="tel:+15878036496" class="mt-2 text-gray-600 dark:text-gray-300 hover:underline">(587) 803-6496</a>
       </p>
      </div>
      <div class="flex flex-col p-6 bg-white dark:bg-slate-900 rounded-lg shadow-md w-full md:w-1/3">
        <svg
          width="1em"
          height="1em"
          viewBox="0 0 24 24"
          class="w-12 h-12 mb-6 text-primary"
          data-icon="tabler:mail"
          data-astro-source-loc="117:44"
          data-astro-source-file="/node_modules/astro-icon/components/Icon.astro"
        >
          <symbol
            id="ai:tabler:mail"
            data-astro-source-file="/node_modules/astro-icon/components/Icon.astro"
            data-astro-source-loc="124:28"
            ><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              ><path d="M3 7a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><path
                d="m3 7l9 6l9-6"></path></g
            ></symbol
          ><use
            xlink:href="#ai:tabler:mail"
            data-astro-source-file="/node_modules/astro-icon/components/Icon.astro"
            data-astro-source-loc="125:10"></use>
        </svg>
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Email</h3>
       <p class="text-muted mt-2">
        <a href="mailto:jeff@kastlemedia.ca" target="_blank" class="mt-2 text-gray-600 dark:text-gray-300 lowercase hover:underline"
        >jeff@kastlemedia.ca</a
      >
       </p>
      </div>
      <div class="flex flex-col p-6 bg-white dark:bg-slate-900 rounded-lg shadow-md w-full md:w-1/3">
        <svg width="1em" height="1em" viewBox="0 0 24 24" class="w-12 h-12 mb-6 text-primary" data-icon="tabler:map-pin" data-astro-source-file="/node_modules/astro-icon/components/Icon.astro" data-astro-source-loc="117:44">  <symbol id="ai:tabler:map-pin" data-astro-source-file="/node_modules/astro-icon/components/Icon.astro" data-astro-source-loc="124:28"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0-6 0"></path><path d="M17.657 16.657L13.414 20.9a2 2 0 0 1-2.827 0l-4.244-4.243a8 8 0 1 1 11.314 0"></path></g></symbol><use xlink:href="#ai:tabler:map-pin" data-astro-source-file="/node_modules/astro-icon/components/Icon.astro" data-astro-source-loc="125:10"></use>  </svg>
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Location</h3>
        <p class="mt-2 text-gray-600 dark:text-gray-300 hover:underline">
          <a href="https://maps.app.goo.gl/68gRkBhSk3XtzBsm8" target="_blank" rel="noopener noreferrer">
            Edmonton, Alberta</a>
        </p>
      </div>
    </div>
  </div>
</div>
</Layout>
