---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Projects from '~/components/widgets/Projects.astro';
import Steps from '~/components/widgets/Steps.astro';
import Badges from '~/components/widgets/Badges.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import { getPermalink } from '../utils/permalinks';

const metadata = {
  title: 'J.A Web Design | Edmonton Web Design & Development',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero actions={[{ text: 'View Portfolio', href: '#features' }]}>
    <Fragment slot="title">
      <h2
        class="max-w-24ch mb-4 text-4xl font-bold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white text-left capitalize"
      >
        User-Friendly <span class="dark:text-blue-300 text-blue-800 font-extrabold"> Web Development</span> and
        <br /><span class="dark:text-blue-300 text-blue-800 font-extrabold"> Design</span>
      </h2>
    </Fragment>

    <Fragment slot="subtitle">
      <p class="mb-8 text-lg font-normal text-gray-900 lg:text-xl dark:text-gray-200 text-left">
        Crafting custom websites that prioritize user needs
      </p>
    </Fragment>
  </Hero>

  <!-- Projects Widget ************** -->

  <Projects />

  <!-- About Us Widget ****************** -->

  <Steps
    title="A little bit about me"
    items={[
      {
        title: '',
        description:
          'As a self-taught freelancer turned NAIT student based in Edmonton, Alberta, with five years of experience, I am a passionate web developer and designer with a keen eye for quality and customer satisfaction. My experience includes developing modern, user-friendly websites for small businesses, e-commerce stores, and personal portfolios.',
      },
    ]}
    image={{
      src: 'https://ik.imagekit.io/boxhuwbys/jeff.webp?updatedAt=1711694070119',
      alt: 'Jeffrey Agyepong',
    }}
  />
  <Badges />

  <!-- Services Widget ************** -->

  <Features3
    title="Services"
    subtitle="These are the services we offer "
    tagline=""
    items={[
      {
        title: 'Web Development ',

        image: 'https://ik.imagekit.io/boxhuwbys/icon-development-white.svg?updatedAt=1711779871947',
      },
      {
        title: 'Web Design',

        image: 'https://ik.imagekit.io/boxhuwbys/icon-graphics-white.svg?updatedAt=1711779872004',
      },
      {
        title: 'Website Maintenance',

        image: 'https://ik.imagekit.io/boxhuwbys/web-maintenance-white.svg?updatedAt=1711779871951',
      },
      {
        title: 'SEO',

        image: 'https://ik.imagekit.io/boxhuwbys/seo-white.svg?updatedAt=1711779871975',
      },
      {
        title: 'Graphic Design ',

        image: 'https://ik.imagekit.io/boxhuwbys/graphic-design-white.svg?updatedAt=1711779871901',
      },
      {
        title: 'Social Media Marketing',

        image: 'https://ik.imagekit.io/boxhuwbys/icon-mobile-white.svg?updatedAt=1711779872029',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features3>

  <!-- Testimonials Widget *********** -->

  <Testimonials
    id="testimonials"
    title="Testimonials"
    ,
    testimonials={[
      {
        testimonial: `Jeffrey just completed a website for my alumni organization. It is so professionally done with a touch of appeal and a great look. Jeffrey designed the website through good communication and follow-up and provided the site as required and expected. It is a website designed to adjust to mobile devices. Jeffrey is also providing training and support with the capacity to do updates and other support systems when needed and takes prompt action on issues when needed.`,
        name: 'Michael Appiah-Boateng',
        job: 'Accountant',
        image: {
          src: 'https://ik.imagekit.io/boxhuwbys/mike.webp?updatedAt=1711693732280',
          alt: 'Michael Appiah-Boateng Image',
        },
      },
      {
        testimonial: `J.A Web Design delivered the project on time and provided reliable, timely technical support after. The responsive team strictly adhered to the established timeline and budget and was quick to implement feedback throughout.`,
        name: 'Darcy Hodge',
        job: 'Genetal Manager',
        image: {
          src: 'https://ik.imagekit.io/boxhuwbys/darcy.webp?updatedAt=1711693732156',
          alt: 'Darcy Hodge Image',
        },
      },
      {
        testimonial: `Jeffrey is such a wonderful person and a very knowledgeable web designer! He taught me how to use the different web design platforms and what to watch out for. I highly recommend him thanks Jeffrey!`,
        name: 'Kareena Virdi',
        job: 'Social Media Consultant',
        image: {
          src: 'https://ik.imagekit.io/boxhuwbys/kreen.webp?updatedAt=1711693732194',
          alt: 'Kareena Virdi Image',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'More testimonials...',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:chevron-right',
    }}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: ' How do you approach designing a website?',
        description:
          "When approaching website design, I begin with thorough research and planning, followed by gathering inspiration from design sources. Next, I create a wireframe to establish the site's structure, and then focus on user experience (UX) design and intuitive navigation. Once the wireframe is finalized, I move on to visually designing the website, incorporating branding elements. After design approval, I code the website using HTML, CSS, and JavaScript, ensuring responsiveness and compatibility. Testing and iteration are crucial before launching, followed by ongoing maintenance and support. This systematic approach ensures a visually appealing, functional, and user-friendly website.",
      },
      {
        title: 'Are your websites mobile-friendly and responsive?',
        description:
          'Absolutely! Ensuring that websites I design are mobile-friendly and responsive is a top priority for me. I understand the importance of providing an optimal user experience across various devices, screen sizes, and orientations. By implementing responsive design techniques and leveraging mobile-friendly practices, I ensure that your website adapts seamlessly to different platforms, providing a consistent and engaging experience for all users.',
      },
      {
        title: 'How long does it take to design a website?',
        description:
          'The time required to design a website varies depending on the type and complexity of the site. A simple landing page can typically be designed within a few days, while a more intricate e-commerce site may take several weeks to complete. The duration of the design process is influenced by factors such as the scope of the project, the availability of resources, and the level of customization needed. ',
      },
      {
        title: ' What platforms or tool do you use?',
        description:
          'I primarily utilize a range of platforms and tools to design and develop websites. These include HTML, CSS, JavaScript, Vue.js, Vite, PHP, Figma, Netlify, Cloudflare, and WordPress. HTML and CSS serve as the foundation for structuring and styling web pages, while JavaScript adds interactivity and dynamic features. ',
      },
      {
        title: 'How often should a website be updated?',
        description:
          "To keep a website fresh and relevant, it is recommended to have periodic updates. The frequency of updates can vary depending on the specific needs and goals of the website. Factors such as the industry, target audience, content type, and technological advancements play a role in determining the update schedule. Some websites may require frequent updates, such as news or e-commerce sites, while others may need less frequent updates. Regularly assessing and evaluating the website's performance, content, and design can help determine the appropriate update intervals to ensure the website remains engaging, functional, and aligned with your business objectives. ",
      },
      {
        title: 'Can you help with maintenance/updates after launch?',
        description:
          "Absolutely! I provide comprehensive ongoing maintenance services to ensure that websites remain up-to-date, secure, and optimized. After the website is launched, I offer support and assistance with regular updates, such as content updates, software updates, security patches, and bug fixes. I can also help implement new features, functionalities, or design enhancements as your business evolves. Whether it's maintaining compatibility with the latest web standards, addressing security vulnerabilities, or optimizing performance, I am committed to ensuring your website continues to operate smoothly and effectively even after the initial launch.",
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contact Us',
        href: getPermalink('/contact'),
      },
    ]}
  >
    <Fragment slot="title"> Have any questions? </Fragment>
  </CallToAction>
</Layout>
