---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Layout from '~/layouts/PageLayout.astro';

import { getPermalink } from '../utils/permalinks';

import { AstroSeo } from '@astrolib/seo';

const metadata = {
  title: 'Services',
};
---

<AstroSeo
  title={metadata.title}
  description="Experience our tailored web design services at J.A Web Design. We specialize in crafting captivating websites that embody your brand essence. From concept to launch, our services ensure your online presence stands out. Contact us today to kick-start your custom web design project."
/>
<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <section
    class="mt-16 bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern.svg')] min-h-fit dark:bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern-dark.svg')]"
  >
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 z-10 relative">
      <h2
        class="max-w-24ch mb-4 text-4xl font-bold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white text-left capitalize"
      >
        Services
      </h2>
    </div>
    <div
      class="bg-gradient-to-b from-blue-50 to-transparent dark:from-blue-900 w-full h-full absolute top-0 left-0 z-0"
    >
    </div>
  </section>

  <!-- Features3 Widget ************** -->

  <Features3
    title=""
    subtitle="These are the services we offer "
    tagline=""
    items={[
      {
        title: 'Web Development ',
        description:
          'Our web development services bring your ideas to life with expert coding and programming. We build custom websites that are visually engaging, user-friendly, and optimized for performance, ensuring a seamless browsing experience for your visitors.',
        image: 'https://ik.imagekit.io/boxhuwbys/icon-development-white.svg?updatedAt=1711779871947',
      },
      {
        title: 'Web Design',
        description:
          "Our creative web design solutions combine aesthetics and functionality to create visually stunning websites that capture your brand's essence. We focus on user experience, ensuring intuitive navigation, appealing layouts, and responsive design for a seamless interaction across all devices.",
        image: 'https://ik.imagekit.io/boxhuwbys/icon-graphics-white.svg?updatedAt=1711779872004',
      },
      {
        title: 'Website Maintenance ',
        description:
          "Our website maintenance services ensure that your website remains up-to-date, secure, and optimized. We handle regular updates, security patches, backups, and performance monitoring, allowing you to focus on your core business while we take care of your website's maintenance needs.",
        image: 'https://ik.imagekit.io/boxhuwbys/web-maintenance-white.svg?updatedAt=1711779871951',
      },
      {
        title: 'SEO',
        description:
          "Our SEO services help your website rank higher in search engine results, driving organic traffic and increasing visibility. We employ proven strategies to optimize your website's structure, content, and keywords, ensuring that potential customers can easily find you online. ",
        image: 'https://ik.imagekit.io/boxhuwbys/seo-white.svg?updatedAt=1711779871975',
      },
      {
        title: 'Graphic Design ',
        description:
          'Our graphic design services bring visual appeal and professionalism to your brand. From logos and branding materials to digital graphics and promotional materials, we create eye-catching designs that make a lasting impression on your audience and align with your brand identity.',
        image: 'https://ik.imagekit.io/boxhuwbys/graphic-design-white.svg?updatedAt=1711779871901',
      },
      {
        title: 'Social Media Marketing',
        description:
          'With our social media marketing expertise, we help you leverage the power of platforms like Facebook, Instagram, and Twitter to reach and engage your target audience. We create compelling content, manage campaigns, and analyze results to maximize your social media presence and grow your following.',
        image: 'https://ik.imagekit.io/boxhuwbys/icon-mobile-white.svg?updatedAt=1711779872029',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features3>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contact Us',
        href: getPermalink('/contact'),
      },
    ]}
  >
    <Fragment slot="title"> Have any questions? </Fragment></CallToAction
  >
</Layout>
