---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features3 from '../components/widgets/Features3.astro';
import Layout from '~/layouts/PageLayout.astro';

import { getPermalink } from '../utils/permalinks';

const metadata = {
  title: 'Services | J.A Web Design | Edmonton, Alberta',
  description:"Experience our tailored web design services at J.A Web Design. We specialize in crafting captivating websites that embody your brand essence. From concept to launch, our services ensure your online presence stands out. Contact us today to kick-start your custom web design project."
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <section
    class="mt-16 bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern.svg')] min-h-fit dark:bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern-dark.svg')]"
  >
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 z-10 relative">
      <h2
        class="max-w-24ch mb-4 text-4xl font-bold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white text-left capitalize"
      >
        Services
      </h2>
      <p class="text-left">Quality Web Design and Development Based in the Edmonton Area</p>
    </div>
    <div
      class="bg-gradient-to-b from-blue-50 to-transparent dark:from-blue-900 w-full h-full absolute top-0 left-0 z-0"
    >
    </div>
  </section>

  <!-- Content Widget **************** -->

  <Content
    tagline="Website Development"
    title="Unmatched Quality Achieved with Custom Development"
    items={[
      {
        title: 'Coding and Programming',
        description: "Watch your website come to life and your business's technical needs met.",
      },
      {
        title: 'Web Hosting',
        description: 'We’ll find the best web hosting for you, ensuring reliable performance.',
      },
      {
        title: 'Domain Registration',
        description: 'We’ll help you acquire an effective and affordable domain name.',
      },
      {
        title: 'Website Speed Optimization',
        description:
          'We’ll make sure your site performs at optimal speed 100% of the time. This reduces bounce rates caused by slow loading times.',
      },
      {
        title: 'Responsiveness',
        description: 'Effectively reach the huge mobile audience. ',
      },
    ]}
    image={{
      src: 'https://ik.imagekit.io/boxhuwbys/ja-web-services-web-development-bg.webp',
      alt: 'J.A Web Design - Web Development, Edmonton, Alberta',
    }}
  >
    <Fragment slot="content">
      <p class="mb-8 text-lg font-normal text-gray-900 lg:text-base dark:text-gray-200 text-left">
        At J.A Web Design we choose to focus on the performance and security of the website we provide to our clients.
        The vast majority of websites on the internet could improve with a little attention to detail. There are many
        strategies and elements that go into the development of a website. We use only the best of these to ensure
        quality and reliability.
      </p>
      <p class="mb-8 text-lg font-normal text-gray-900 lg:text-base dark:text-gray-200 text-left">
        In modern times, security is an increasing concern. Many developers leave the security of the website a problem
        for their client. We do not. It can be an overwhelming topi, we want to use the knowledge we've already
        acquired to take a weight off your shoulders.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Web Design and Copywriting"
    title="Reach New Heights with Detailed Website Strategy and Design"
    items={[
      {
        title: 'Strategy',
        description:
          'What does your website need to communicate? Who is your target audience? How can you best reach them? Answering questions like these and many more ensure a website is achieving its goals in the best way possible.',
      },
      {
        title: 'Copywriting',
        description:
          'Content can make or break a website. Quality content will accommodate the psychology of your desired clientele, turning viewers into customers.',
      },
      {
        title: 'Wireframes',
        description:
          "Carefully considered structure will make sure your visitors' questions are answered promptly and pertinent information easily found.",
      },
      {
        title: 'Design',
        description:
          "The content and structure come together with the company's branding to create a cohesive experience that speaks.",
      },
    ]}
    image={{
      src: 'https://ik.imagekit.io/boxhuwbys/ja-web-design-services-website-design.webp',
      alt: 'J.A Web Design - Website Design, Edmonton, Alberta',
    }}
  >
    <Fragment slot="content">
      <p class="mb-8 text-lg font-normal text-gray-900 lg:text-base dark:text-gray-200 text-left">
        Our focus is in development, but we know good websites require detailed creation. We work with talented
        designers such as <a
          href="https://www.silken-design.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-red-400">SILKEN</a
        > and <a href="https://rinalynne.com/services" target="_blank" rel="noopener noreferrer" class="text-red-400"
          >Rina Lynne Design</a
        > to achieve the best results.
      </p>
      <p class="mb-8 text-lg font-normal text-gray-900 lg:text-base dark:text-gray-200 text-left">
        The design aspect of a website addresses how it communicates with and maintains the interest of viewers. It
        guarantees a unique look that stands out among your competitors. Embody your company's reputation through a
        website that is easy to use and visually appealing.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Features3 Widget ************** -->
  <div class="container-lg">
    <Features3
      title="Our Other Services"
      subtitle=""
      tagline=""
      items={[
        {
          title: 'Website Maintenance and Support',
          description:
            'It is important to us that your website not only functions and meets your needs now, but that it continues to do so in the future. We provide upkeep services so that you can work worry free. We’ll ensure that your website is running effectively, that any bugs are found and fixed, and that it remains secure. Each website has different needs in this department. Some require frequent updates to content, while others it is occasionally. For this reason we focus on tailoring our approach to meet your needs.',
          image: 'https://ik.imagekit.io/boxhuwbys/ja-web-design-services-website-maintainance.png',
        },
        {
          title: 'SEO Optimization',
          description:
            'What good is a website if it cannot be found by your potential clientele? For this reason we prioritize good SEO so that your company can get found. Detailed research and implementation will help you website rank on google and come up, not only when someone searches your brand name but also when they search topics relevant to your services. ',
          image: 'https://ik.imagekit.io/boxhuwbys/ja-web-design-search-engine-optimization.png',
        },
        {
          title: 'Graphic Design',
          description:
            " No one likes using ready made graphics. They're easy to identify and take away from the overall online presentation of your company. Customizing small details such as graphics can elevate your brand and distinguish you as different among your competitors.",
          image: 'https://ik.imagekit.io/boxhuwbys/ja-web-design-services-graphic-design.png',
        },
      ]}
    >
      <Fragment slot="bg">
        <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
      </Fragment>
    </Features3>
  </div>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contact Us',
        href: getPermalink('/contact'),
      },
    ]}
  >
    <Fragment slot="title"> Have any questions? </Fragment></CallToAction
  >
</Layout>
