---
import { SITE } from '~/utils/config';
---

<span
  class="flex items-center self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <img
    src="https://ik.imagekit.io/boxhuwbys/ja-web-design.png?updatedAt=1711348110705"
    class="h-16 mr-3"
    alt="J.A Web Design Logo"
    height="80"
    width="80"
  /> J.A Web Design
 <span class="hidden">
  {SITE?.name}
 </span>
</span>
