/* raleway-latin-wght-normal */
@font-face {
  font-family: 'Raleway Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/raleway:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-page {
    background-color: var(--aw-color-bg-page);
  }

  .bg-dark {
    background-color: var(--aw-color-bg-page-dark);
  }

  .bg-light {
    background-color: var(--aw-color-bg-page);
  }

  .text-page {
    color: var(--aw-color-text-page);
  }

  .text-muted {
    color: var(--aw-color-text-muted);
  }
}

@layer components {
  .btn {
    @apply inline-flex items-center justify-center rounded-lg bg-transparent font-medium text-center text-base text-page leading-snug transition py-3.5 px-6 md:px-8 ease-in duration-200 focus:ring-blue-500 focus:ring-offset-blue-200 focus:ring-2 focus:ring-offset-2 hover:bg-green-800 hover:border-gray-600 dark:text-slate-300 dark:hover:bg-green-800 dark:hover:border-slate-800 cursor-pointer;
  }

  .btn-primary {
    @apply btn font-semibold bg-primary text-white hover:bg-secondary hover:border-secondary hover:text-white dark:text-white dark:bg-red-700 dark:hover:border-secondary dark:hover:bg-green-800;
  }

  .btn-secondary {
    @apply btn;
  }

  .btn-tertiary {
    @apply btn border-none shadow-none text-muted hover:text-gray-900 dark:text-gray-400 dark:hover:text-white;
  }
}

#header.scroll > div:first-child {
  @apply bg-page md:bg-white/90 md:backdrop-blur-md;
  box-shadow: 0 0.375rem 1.5rem 0 rgb(140 152 164 / 13%);
}

.dark #header.scroll > div:first-child,
#header.scroll.dark > div:first-child {
  @apply bg-page md:bg-[#030621e6] border-b border-gray-500/20;
  box-shadow: none;
}

/* #header.scroll > div:last-child {
  @apply py-3;
} */
.container-lg{
  max-width: 1440px;
  margin: 0 auto;
}
#header.expanded nav {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 70px !important;
  padding: 0 5px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

[astro-icon].icon-light > * {
  stroke-width: 1.2;
}

[astro-icon].icon-bold > * {
  stroke-width: 2.4;
}

[data-aw-toggle-menu] path {
  @apply transition;
}

[data-aw-toggle-menu].expanded g > path:first-child {
  @apply -rotate-45 translate-y-[15px] translate-x-[-3px];
}

[data-aw-toggle-menu].expanded g > path:last-child {
  @apply rotate-45 translate-y-[-8px] translate-x-[14px];
}

/* To deprecated */

.dd *:first-child {
  margin-top: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
header {
  font-family: 'Raleway Variable', sans-serif !important;
}



.logos-slider-container img {
  width: 150px;
  max-width: 200px;
}

.card {
  background: #ffffff;
  padding: 2rem;
  border-radius: 1rem;
  max-width: 1440px;
  margin: 0 auto;
  box-shadow:
    0px 3px 8px rgb(61 74 84 / 10%),
    0px 3px 12px rgb(61 74 84 / 6%);
}

.logos-slider-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5rem;
  overflow: scroll;
}

@media screen and (min-width: 768px) {
  .logos-slider {
    display: flex;
    flex-wrap: nowrap;
  }

  .slider {
    padding-top: -1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 4rem;
    gap: 2rem;
  }
}
