---
import AllIndia from '~/assets/images/allIndialogo.png';
import IndiaGarden from '~/assets/images/indiagarden-logo.png';
import { Picture } from "astro:assets";
import VPA from '~/assets/images/vpa-hockey.webp';
---


<section class="slider mx-1 pb-8">
    <h2 class="font-bold leading-tighter tracking-tighter font-heading text-heading text-3xl md:text-4xl text-center mb-2">
        Some Clients We've Worked With
      </h2>
    <div class="card">
      <div class="logos-slider">
        <div class="logos-slider-container">
          <div>
            <Picture src={IndiaGarden} alt="J.A Web Design - All India Garden Logo, Edmonton, Alberta"/>
          </div>
          <div>
            <Picture src={AllIndia}  alt="J.A Web Design - All India Restaurant Logo, Edmonton, Alberta"/>
          </div>
          <div>
            <Picture src={VPA} class="rounded" alt="J.A Web Design - Valencia Prep Academy Logo, Edmonton, Alberta"/>
          </div>
        </div>
      
       
      </div>
      <p class="text-center text-black sm:hidden">
        Swipe left to see more
      </p>
      </div>  
  </section>